@model ProyectoSegurosFpDaw.Models.Usuario

@{
    ViewBag.Title = "Crear Usuario";
}

<!-- Header -->
<section class="fixedHeader-locked">
    <div col-sm-3>
        <div class="card card-gray ">
            <div class="card-header">
                <h2 class="card-title">USUARIOS</h2>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("Create", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Crear Usuario</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled form-inline">
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(m => m.nombreUsuario, new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.nombreUsuario, new { @class = "form-control", @autocomplete = "off", @maxlength = "20" })
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(m => m.apellido1Usuario, new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.apellido1Usuario, new { @class = "form-control", @autocomplete = "off", @maxlength = "20" })
                                </div>
                            </li>
                            <li class=" col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(m => m.apellido2Usuario, new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.apellido2Usuario, new { @class = "form-control", @autocomplete = "off", @maxlength = "20" })
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(model => model.dniUsuario, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.dniUsuario, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = "20" } })
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(model => model.emailUsuario, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.emailUsuario, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = "50" } })
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = "8" } })
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                                @Html.Label("Rol", htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                                    </div>
                                    @Html.DropDownList("rolId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-8 col-xl-8 mb-3">

                            </li>
                            @*  ----------------------------------------------------------------------------------------------*@
                            <li class=" col-xs-12  col-md-12 mb-4">

                            </li>
                            @*  ----------------------------------------------------------------------------------------------*@
                        </ul>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <a href="@Url.Action("Index","Usuarios")" class="btn btn-info float-left">
                                    <i class="fas fa-reply"> </i>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <button type="submit" class="btn btn-info float-right">
                                    <i class="fas fa-plus-square"> </i>
                                    Crear Usuario
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            }
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts{
    <script src="~/Scripts/SharedScripts.js"></script>
    <script src="~/Scripts/UsuarioSharedScripts.js"></script>
    <script src="~/Scripts/UsuarioCreateScript.js"></script>
}