@model ProyectoSegurosFpDaw.Models.Usuario

@{
    ViewBag.Title = "Información Usuario";
    // Usuario Logado en sesión actual
    var usuarioActual = (ProyectoSegurosFpDaw.Models.Usuario)Session["user"];
    var rolUsuarioActual = usuarioActual.rolId;
}


<!-- Header -->
<section class="fixedHeader-locked">
    <div col-sm-3>
        <div class="card card-gray ">
            <div class="card-header">
                <h2 class="card-title">USUARIOS</h2>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Información Usuario</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled form-inline">
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(m => m.nombreUsuario, new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.nombreUsuario, new { @class = "form-control", @readonly = true, @title="ID : "+Model.usuarioId})
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(m => m.apellido1Usuario, new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.apellido1Usuario, new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class=" col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(m => m.apellido2Usuario, new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-portrait"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.apellido2Usuario, new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(model => model.dniUsuario, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.dniUsuario, new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(model => model.emailUsuario, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.emailUsuario, new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.Label("Rol", htmlAttributes: new { @class = "control-label" })

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.Rol.nombreRol, new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(model => model.fechaAlta, htmlAttributes: new { @class = "control-label" })

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                                </div>
                                @Html.TextBox("fechaAlta", Model.fechaAlta.ToShortDateString(), new { @class = "form-control", @readonly = true })
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3">
                            @Html.LabelFor(model => model.fechaBaja, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar-minus"></i></span>
                                </div>
                                @{ if (Model.fechaBaja != null)
                                    {
                                        var fecha = Model.fechaBaja.Value.ToShortDateString();
                                        @Html.TextBox("fechaBaja", fecha, new { @class = "form-control", @readonly = true })

                                    }
                                    else
                                    {
                                        @Html.TextBox("fechaBaja", null, new { @class = "form-control", @readonly = true }) 
                                    }
                                }
                            </div>
                        </li>
                        <li class=" col-lg-4 col-xl-4 mb-3">

                        </li>
                        @*  ----------------------------------------------------------------------------------------------*@
                        <li class=" col-xs-12  col-md-12 mb-4">

                        </li>
                        @*  ----------------------------------------------------------------------------------------------*@
                    </ul>
                    <div class="row">
                        <div class="col-2 col-sm-1 row">
                            @{
                                // Si el Usuario logado tiene rol Agente.
                                if (rolUsuarioActual == 4)
                                {
                                    <a href="@Url.Action("Index","GestionPolizas")" class="btn btn-info  ">
                                        <i class="fas fa-reply"> </i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index","Usuarios")" class="btn btn-info  ">
                                        <i class="fas fa-reply"> </i>
                                    </a>
                                }
                            }
                        </div>
                        @{
                            // Si el Usuario logado tiene rol Administrador.
                            if (rolUsuarioActual == 1)
                            {
                                <div class="col row justify-content-end">
                                    <a href="@Url.Action("Edit", "Usuarios", new { id = Model.usuarioId })" class="btn btn-info mr-2 ">
                                        <i class="fas fa-edit"> </i>
                                        Editar Usuario
                                    </a>
                                    @using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("usuarioId")
                                        <button type="button" id="btnDelete" class="btn btn-info  ">
                                            <i class="fas fa-minus-square"> </i>
                                            Eliminar Usuario
                                        </button>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts{
    <script src="~/Scripts/SharedScripts.js"></script>
    <script src="~/Scripts/UsuarioDetailsScript.js"></script>

}